



body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}
.login-container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 380px;
    background:white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,.15);
}
.login-card h1{
text-align: center;
color:#2563eb;
size: 20;
}

.login-card h2{
    text-align: center;
   color:rgba(1, 4, 6, 0.2);
   size: 14;
}

.login-card input{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.login-card button{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background:#2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;

}

.login-card button:hover{

    background: #1d4ed8;
}